 body{
                background-color: lightgray;
                text-align: center;
     margin: 0;
            }
            img{
                margin-right: 10px;
                border:2px solid black;
                border-radius: 5px;
                width: 250px;
                height: 200px;
            }
header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
            nav{
                grid-column: auto;
                background-color: lightgray;
                text-align: center;
                padding: 15px 20px;
            }
            nav a{
                padding-left: 30px;
                padding-right: 30px;
                color: black;
                transition: 1s;
            }
.navhover:hover{
    color: white;
}
            h1{
                text-align: center;
                font-size: 50px;
            }
            p{
                text-align: left;
                margin-right: 200px;
                margin-left: 200px;
            }
a{
    text-decoration: none;
}

footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}